
<!-- landing-page -->

<div>

  <link rel="stylesheet" href="landing-page.component.css">
    <div class="navbar">
        <div class="title">
            <h1 id="home-title" style="font-size: 40px;">Home</h1>
            <h2 id="our-services" style="font-size: 40px;">My Services</h2>
        </div>
        <div class="sign-reg">
          <button><a href="/signup" id="sign-up" style="font-size: 25px; text-decoration: none;">SIGN UP</a></button>
          <button><a href="/login" id="login" style="font-size: 25px; text-decoration: none;">LOGIN</a></button>
        </div>
    </div>
    <div class="container">
        <div class="side">
            <h1>Welcome to Our Project Management Platform</h1>
            <!-- <p>Time to get organised</p> -->
            <p>Efficiently manage your projects with our comprehensive project management tools.</p>

            <button id="learn-more">Learn More</button>
                <button id="terms">Read our services</button>
        </div>
        <div  class="hero-image">
          <img src="https://cdn.pixabay.com/photo/2017/09/11/11/02/project-management-2738521_640.jpg" alt="">
        </div>
    </div>

</div>

